# ── API GATEWAY CONFIGURATION ────────────────────────────────────────────────
JWT_SECRET=kelompok3

# ── INFRASTRUCTURE CONFIGURATION ─────────────────────────────────────────────
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=smartcity

# ── SERVICE APP KEYS ─────────────────────────────────────────────────────────
# Generate dengan: php artisan key:generate --show
CITIZEN_APP_KEY=base64:nlzTmjm983k76GF6kF/80VdpIts7T6SfqgWFrY4flns=
ENV_APP_KEY=

# ── IOT TOKEN ────────────────────────────────────────────────────────────────
#   node -e "console.log(require('jsonwebtoken').sign({role:'iot'}, 'kelompok3', {expiresIn:'365d'}))"
IOT_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiaW90IiwiY2xpZW50Ijoibm9kZS1yZWQtYnJpZGdlIiwiaWF0IjoxNzgxNDkxNDMxLCJleHAiOjE4MTMwMjc0MzF9.HoRneK-XHaj5RtZNgEtJNK2npNvmmrZNjU5WKM-Wn9o

# ── SERVICE URLS (INTERNAL DOCKER NETWORK) ───────────────────────────────────
CITIZEN_URL=http://citizen-service:8000
TRAFFIC_URL=http://traffic-service:8001
ENV_URL=http://env-service:8002
ML_URL=http://python-ml:5000
OAUTH_URL=http://oauth-server:3002
