# ── API GATEWAY CONFIGURATION ────────────────────────────────────────────────
JWT_SECRET=kelompok3

# ── INFRASTRUCTURE CONFIGURATION ─────────────────────────────────────────────
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=smartcity


ENV_URL=http://env-service:8002
