# Environment files
.env
.env.local
php-service/.env

# Secrets kubernetes - JANGAN PUSH
k8s/secrets.yaml

# Dependencies
php-service/vendor/
php-service/node_modules/
node_modules/
express-gateway/node_modules/
oauth-server/node_modules/
iot/node_modules/

# Laravel
php-service/storage/logs/*.log
php-service/bootstrap/cache/*.php
php-service/storage/framework/cache/
php-service/storage/framework/sessions/
php-service/storage/framework/views/

# Python
smart-city-ml-service/__pycache__/
smart-city-ml-service/**/__pycache__/
smart-city-ml-service/*.pyc
smart-city-ml-service/venv/
smart-city-ml-service/models/*.pkl

# IDE
.vscode/
.idea/
*.swp
*.swo
